*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

header{
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
}


.wrapper .input{
    text-align: center;
}
body{
    height: 100vh;
   width: 100%;
  /* background:linear-gradient(to bottom, #68EACC 0,blue 100%) ;  */
    background: linear-gradient(red,black);

}
.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background:burlywood;
    padding: 25px;
    border-radius: 5px;
}

.wrapper .header{
   font-size: 40px;
   font-weight: 600;

}

.todolist li{
    list-style: none;
    height:30px;
    padding: 10px;
    position: relative;
}

.todolist li span{
    position: absolute;
       right: 0px;
       width: 30px;
       text-align: center;
       color:crimson;
       background-color: white;
}

.wrapper .footer{
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
}

.footer button
{
    right: 0%;
    padding: 5px 5px;
}