*{
    margin: 0;
    padding: 0;
    background-color:rgb(181, 0, 252);
    font-family: "Noto Serif", "sans-serif";
    overflow: hidden;
  }

  canvas{
      border: 5px solid Black;
    display: block;
    margin-left: 350px;
    margin-top: 50px;
    
  }