body {
    background-color: beige;
    /* background-image: url("back.jpg"); */
    /* background-image: url("C:/Users/prjain/Desktop/Counter/profile/back.jpeg"); */
    /* background-image: url('img_girl.jpg'); */
    /* background-image: url("../Counter/profile/back.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    
    
    background-size: cover;
     text-align: center;
  }

  ul{
      list-style-type: none;
  }

  .cover{
      padding: auto;
      margin-bottom: auto;
  }

  a:link, a:visited {
    background-color: #c2a3a0;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    block-size: 10px;
    border-width: 20px; 
  }
  
  a:hover, a:active {
    background-color: red;
  }